<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_SMS"/>
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/appicon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/appicon"
        android:supportsRtl="true"
        tools:targetApi="31">
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
        <activity
            android:name="com.figgo.customer.UI.DashBoard_NewChange"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/google_maps_key" />
<activity android:name="com.figgo.customer.UI.HomeFragmentReplace"
    android:exported="false"/>

       <activity android:name="com.figgo.customer.UI.HelpAndSupportActivity"
           android:exported="false"/>

        <activity android:name="com.figgo.customer.UI.Edit_Profile_Activity"
            android:exported="false"/>

        <activity android:name="com.figgo.customer.UI.HistoryMapsActivity"
            android:exported="false"/>


      <activity android:name="com.figgo.customer.UI.NotificationBellIconActivity"
          android:exported="false"/>
      <activity android:name="com.figgo.customer.UI.TermAndConditionActivity"
          android:exported="false"/>
        <activity android:name="com.figgo.customer.UI.CurrentAboutActivity"
            android:exported="false"/>

       <activity android:name="com.figgo.customer.UI.CancellationPolicy"
           android:exported="false"/>
      <activity android:name="com.figgo.customer.UI.Current_Driver_Details_List"
          android:exported="false"/>
        <activity android:name="com.figgo.customer.UI.EmergencyRoutedraweActivity"
            android:exported="false"/>

        <activity android:name="com.figgo.customer.UI.SearchDriver"
            android:exported="false"/>
        <activity
            android:name="com.figgo.customer.UI.GoogleWebview"
            android:exported="false" />
        <activity
            android:name="com.figgo.customer.UI.MapsActivity"
            android:exported="false" />
        <activity
            android:name="com.figgo.customer.UI.CurrentMap.EmergencyMapsActivity"
            android:exported="false" />
        <activity
            android:name="com.figgo.customer.UI.VerifyOtp"
            android:exported="false" />
        <activity
            android:name="com.figgo.customer.UI.LocationDisActivity"
            android:exported="false" />
        <activity
            android:name="com.figgo.customer.UI.LocationPickerActivity"
            android:exported="false" />
        <activity
            android:name="com.figgo.customer.UI.LocationPickerActivityCurr"
            android:exported="false"
            android:noHistory="false" />
        <activity
            android:name="com.figgo.customer.UI.StudenAddActivity"
            android:exported="false" />
        <activity
            android:name="com.figgo.customer.UI.OTPVerifyPageActivity"
            android:exported="false" />
        <activity
            android:name="com.figgo.customer.UI.PaymentMethodActivity"
            android:exported="false" />
        <activity
            android:name="com.figgo.customer.UI.CurrentMap.MapsActivity2"
            android:exported="false" />
        <activity
            android:name="com.figgo.customer.UI.PaymentPayActivity"
            android:exported="false" />

        <activity
            android:name="com.figgo.customer.UI.OneWayBookingActivity"
            android:exported="false" />
        <activity
            android:name="com.figgo.customer.UI.DriveRatingActivity"
            android:exported="false" />
        <activity
            android:name="com.figgo.customer.UI.CurrentMap.MapsActivity1"
            android:exported="false" />
        <activity
            android:name="com.figgo.customer.UI.EmergencyActivity"
            android:exported="false" />

        <activity
            android:name="com.figgo.customer.UI.OneWay_Km_CountActivity"
            android:exported="false" />
        <activity
            android:name="com.figgo.customer.UI.FreedomOutstationActivity"
            android:exported="false" />
        <activity
            android:name="com.figgo.customer.UI.RoundAndTourActivity"
            android:exported="false" />
        <activity
            android:name="com.figgo.customer.UI.One_Way_OutStationActivity"
            android:exported="false" />

        <activity
            android:name="com.figgo.customer.UI.MPinGenerate"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="com.figgo.customer.UI.Shared_cab_Activity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="com.figgo.customer.UI.CabDetailsActivity"
            android:exported="false"
            android:label="@string/title_activity_cab_details"
            android:theme="@style/Theme.Figgo.NoActionBar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="com.figgo.customer.UI.CityCabActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="com.figgo.customer.UI.DashBoard"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="com.figgo.customer.UI.LoginActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="com.figgo.customer.UI.WelcomeSlider"
            android:exported="false" />

        <activity
            android:name="com.figgo.customer.UI.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="com.figgo.customer.UI.MainActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <receiver
            android:name="com.razorpay.RzpTokenReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="rzp.device_token.share" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.razorpay.CheckoutActivity"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <data
                    android:host="rzp.io"
                    android:scheme="io.rzp" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.razorpay.plugin.googlepay_all"
            android:value="com.razorpay.RzpGpayMerge" />
    </application>

</manifest>